@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .glint {
      box-shadow:
          0 0 1px theme('colors.black / 20%'),
          inset 0 1px theme('colors.white / 40%');
  }

  .squish {
      @apply active:scale-95 transition-transform;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-zinc-950 text-white;
}

.host-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
}
